body {
    background: linear-gradient(#d6e2ff, #516699);
}
hr.solid {
    border: 5px solid black;
}

.header-navbar{
    position: fixed;
    top: 0;
    z-index: 1030; /* to prevent the navbar getting covered up by other content */
 }
